<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./fonts/fonts.css">
    <style>
        body{
            height: 100vh;
            background: linear-gradient(orange, red);
            font-family: "montserrat-i", sans-serif;
        }
        .login-title{
            position: relative;
            font-family: "monoton", "montserrat", sans-serif;
            font-size: 10vw;
            margin: 10px auto;
            text-align: center;
            text-transform: uppercase;
            word-spacing: 1rem;
        }
        #message{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)
                        scale(0, 0);
            z-index: 2;
            transition: transform 500ms ease-in-out;
        }
        .middle{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: transform 800ms ease-in-out;
        }
        form{
            margin-top: 2rem;
        }
        .reference{
            display: block;
            text-align: center;
            color: black;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="login-title">User Login</h1>
        <div class="alert alert-info" id="message" role="alert">A simple info alert—check it out!</div>
        <div class="middle">
            <form id="loginForm">
                <div class="form-group">
                    <label for="InpUsername">Username</label>
                    <input type="text" class="form-control" id="InpUsername" aria-describedby="usernameHelp"
                        placeholder="Username" required>
                    <small id="usernameHelp" class="form-text text-muted">We'll never share your details with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="InpPassword">Password</label>
                    <input type="password" class="form-control" id="InpPassword" placeholder="Password"
                        minlength="4" required>
                </div>
                <button type="submit" class="btn btn-secondary">Login</button>
                <a href="./signup" class="reference">SignUp</a>
            </form>
        </div>
    </div>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script>
        $(document).on('submit', '#loginForm', () => {
            event.preventDefault();
            let userName = $('#InpUsername').val();
            let password = $('#InpPassword').val();

            if (!userName || !password) {
                showAlert('Please! correct the form');
                return false;
            }

            $.ajax({
                url: "http://localhost:8000/api/isUserRegistered",
                method: "POST",
                data: JSON.stringify({
                    userName: userName,
                    password: password
                }),
                contentType: 'application/json',
                beforeSend: function () {
                    showAlert('Connecting to server...');
                },
                success: function (result) {
                    if (result.success == 'true') {
                        showAlert('Logging in...');
                        setTimeout(() => {
                            showAlert('Redirecting...');
                            location.href = './home?user='+userName;
                        }, 2000);
                    } else if (result.error) {
                        showAlert(result.error);
                    }
                },
                error: function (error) {
                    showAlert(error.responseJSON.error);
                }
            });
        })

        function showAlert(msg) {
            $('#message').text(msg);
            $('#message').css('transform', 'translate(-50%, -50%) scale(1, 1)');

            setTimeout(() => {
                $('#message').css('transform', 'translate(-50%, -50%) scale(0, 0)');
            }, 2000);
        }
    </script>
</body>

</html>